$Background: #7e7e7e26;
$primary: #28ec9b;
$secondary: #38ef7d;
$white: #fff;
$font: "JetBrains Mono", monospace;
$gray: #9b9b9b;
$box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
  rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
$box-shadow-2: rgba(45, 35, 66, 0.4) 0 2px 4px,
  rgba(45, 35, 66, 0.3) 0 7px 13px -3px;

.Voting {
  background-color: $Background;
  background-image: url("../../assets/limeLogo.png");
  background-size: 150%;
  background-size: 120%;
  background-position-x: 60px;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin: 3rem;
  padding: 7rem;
  position: relative;
  align-items: center;
  border-radius: 20px;
  text-align: center;
}

.Content {
  background-color: #c2c2c24d;
  margin: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 5%;
  backdrop-filter: blur(15px);
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media screen and (max-width: 860px) {
  .Voting {
    padding: 1.5rem;
  }
}
.Owner-Container {
  display: grid;
  align-items: center;
  justify-content: center;
}

h2 {
  color: $white;
  padding: 1rem 0 0;
}
h1 {
  color: $white;
}
input {
  width: 30px;
  height: 30px;
  position: relative;
}
p {
  margin: 5px;
}
hr {
  position: relative;
  height: 5px;
  background-color: rgba(17, 17, 17, 0.295);
  border: 0;
  border-radius: 2px;
  color: inherit;
  margin: 1rem 0 0;
  opacity: 0.25;
}
.messageHeading {
  color: black;
}
.info {
  box-shadow: $box-shadow-2;
  font-family: $font;
  background-color: rgba(255, 255, 255, 0.275);
  padding: 1%;
  position: relative;
  width: 80%;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}

.spinner {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.expanding-div {
  margin: auto;
  margin-bottom: 20px;
  display: block;
  align-items: center;
  justify-content: center;
}

.button-30 {
  align-items: center;
  justify-content: center;
  width: auto;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 10px;
  border-width: 0;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: $font;
  height: 48px;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus:not(:disabled) {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover:not(:disabled) {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active:not(:disabled) {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.button-30:disabled {
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  background-color: #b3b3b3;
  cursor: progress;
}

.messageBtn {
  align-items: center;
  justify-content: center;
  width: auto;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  appearance: none;
  background-color: #fdfcfc;
  border-radius: 10px;
  border-width: 0;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: $font;
  height: 48px;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  -webkit-animation: shake-bottom 1s ease-in-out 5s infinite both;
  animation: shake-bottom 1s ease-in-out 5s infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-6-11 13:32:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-bottom
 * ----------------------------------------
 */
@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

.messageBtn:focus:not(:disabled) {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.messageBtn:hover:not(:disabled) {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.messageBtn:active:not(:disabled) {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.messageBtn:disabled {
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  background-color: #b3b3b3;
  cursor: progress;
}

.candidate-input {
  border: none;
  padding: 1rem;
  width: 30vw;
  margin: auto;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: $box-shadow-2;
  transition: 0.3s;
}

.input:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}

.message {
  background-color: #a4a4a4a3;
  margin: 3rem;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
}
.candidates {
  background-color: #ffffffc9;
  display: inline-flex;
  box-shadow: $box-shadow-2;
  padding: 5px;
  position: relative;
  width: auto;
  border-radius: 8px;
  margin: 5px 10px;
  overflow: hidden;
}

.Results {
  justify-content: center;
  column-gap: 20px;
  padding: 20px;
}

candidates-container {
  flex: 50%;
  float: left;
  width: 50%;
}
.candidates-rows {
  font-family: $font;
padding: 5px;
margin: 5px 0;
display: flex;
background-color: #49494917;
border-radius: 6px;
align-items: center;
justify-content: space-between;
}
.vote-for-results {
  background-color: rgb(224 218 218 / 46%);
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
// font-family: "JetBrains Mono", monospace;
// padding: 5px;
// margin: 5px 0;
// display: flex;
// background-color: #49494917;
// border-radius: 6px;
// align-items: center;
// justify-content: space-between;