$Background: #28eb9ba3;
$primary: #28ec9b;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.Voting {
  background-color: $Background;
  background-image: url("../../assets/limeLogo.png");
  background-size: 22rem;
  background-position: right;
  background-repeat: no-repeat;
  margin: 3rem;
  display: grid;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .Voting {
    background-position: center;
  }
}
h2 {
  color: $white;
}
h1 {
  color: $white;
}
.messageHeading {
  color: black;
}
.info {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-color: rgba(255, 255, 255, 0.275);
  padding: 1%;
  position: relative;
  width: 80%;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}

.spinner {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.expanding-div {
  margin: auto;
  margin-bottom: 20px;
  display: block;
  align-items: center;
  justify-content: center;
}
.Content {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.button-30 {
  align-items: center;
  justify-content: center;
  width: 120px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 10px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus:not(:disabled) {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover:not(:disabled) {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active:not(:disabled) {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.button-30:disabled {
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  background-color: #b3b3b3;
  cursor: progress;
}

.input {
  border: none;
  padding: 1rem;
  width: 30vw;
  margin: auto;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 0px 0px 10px #c5c5c5, 0px 0px 10px #ffffff;
  transition: 0.3s;
}

.input:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}

.message {
  background-color: #a4a4a4a3;
  margin: 3rem;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
}
.candidates {
  background-color: #d5d5d5c9;
  display: inline-flex;
  padding: 1%;
  position: relative;
  width: auto;
  border-radius: 8px;
  margin: auto;
  overflow: hidden;
}
